Repository ruidnogueira/react-showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*": "ls-lint",
  "src/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --max-warnings=0",
  "src/**/*.{css,scss}": "stylelint --fix",
  "src/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

fix: preflight check
  playwright.config.ts
  preflight-check.sh
Due: none

refactor: simplify api request types
  src/app/api/api.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

fix: wrong api post type
  src/app/api/api.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: increase renovate schedule
  renovate.json
Due: none

feat: remove renovate rate limit
  renovate.json
Due: none

fix: renovate schedule
  renovate.json
Due: none

Increase renovate schedule (#238)
  renovate.json
Due: none

feat: change renovate preset
  renovate.json
Due: none

fix: disable husky in chromatic workflow
  .github/workflows/chromatic.yml
Due: none

Change renovate preset (#247)
  .github/workflows/chromatic.yml
  renovate.json
Due: none

feat: update storybook to 6.5.13
  package-lock.json
  package.json
Due: none

test: remove getComputedStyle mock
  src/test/mocks/get-computed-style.ts
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Update storybook to 6.5.13 (#259)
  package-lock.json
  package.json
Due: none

feat: update dependency msw to v0.48.2
  package-lock.json
  package.json
  public/mockServiceWorker.js
Due: none

refactor: use new api for e2e tests
  e2e/tests/home.test.ts
Due: none

Update dependency msw to v0.48.2 (#271)
  package-lock.json
  package.json
  public/mockServiceWorker.js
Due: none

refactor: replace utility-types with type-fest
  package-lock.json
  package.json
  src/app/contexts/config/config-context.test.tsx
  src/app/contexts/config/config-context.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: replace StrictUnion with MergeExclusive
  src/app/components/button/button.tsx
  src/app/types/union.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Replace utility-types with type-fest (#279)
  package-lock.json
  package.json
  src/app/components/button/button.tsx
  src/app/contexts/config/config-context.test.tsx
  src/app/contexts/config/config-context.tsx
  src/app/types/union.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add dependency cruiser
  .dependency-cruiser.cjs
  package-lock.json
  package.json
  preflight-check.sh
  renovate.json
Due: none

refactor: move features to core
  .storybook/preview.tsx
  src/app/components/language-select/language-select.test.tsx
  src/app/components/language-select/language-select.tsx
  src/app/components/select/select.tsx
  src/app/components/theme-button/theme-button.tsx
  src/app/components/toast/toast-context.test.tsx
  src/app/components/toast/toast-context.tsx
  src/app/components/toast/toast.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/app/components/tooltip/tooltip.tsx
  src/app/core/auth/auth-context.test.tsx
  src/app/core/auth/auth-context.tsx
  src/app/core/auth/use-auth-manager.tsx
  src/app/core/config/config-context.test.tsx
  src/app/core/config/config-context.tsx
  src/app/core/config/constants-config.ts
  src/app/core/config/i18n-config.ts
  src/app/core/config/storage-config.ts
  src/app/core/error/error-context.test.tsx
  src/app/core/error/error-context.tsx
  src/app/core/error/use-error-manager.tsx
  src/app/core/i18n/i18n-context.test.tsx
  src/app/core/i18n/i18n-context.tsx
  src/app/core/i18n/i18n-format.test.ts
  src/app/core/i18n/i18n-format.ts
  src/app/core/portal-container/portal-container.test.tsx
  src/app/core/portal-container/portal-container.tsx
  src/app/core/theme/theme-context.test.tsx
  src/app/core/theme/theme-context.tsx
  src/app/features/.gitkeep
  src/app/features/auth/index.ts
  src/app/features/error/index.ts
  src/app/features/i18n/index.tsx
  src/app/features/theme/index.ts
  src/app/hooks/use-contrast-theme.ts
  src/main.tsx
  src/mocks/i18n.ts
  src/mocks/server/handlers/user-handlers.ts
  src/test/helpers/render.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: forbid import features in util folders
  .dependency-cruiser.cjs
Due: none

feat: add modules graph
  .gitignore
  graphs/.modules.cjs
  package.json
  src/app/components/toast/toast-overlay.tsx
  src/main.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

fix: t function can return null
  src/app/components/language-select/language-select.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

fix: dont allow null translations
  src/app/components/language-select/language-select.tsx
  src/app/core/i18n/i18n-context.tsx
  src/i18next.d.ts
  src/mocks/i18n.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Renovate/i18next 22.x (#290)
  src/app/core/i18n/i18n-context.tsx
  src/i18next.d.ts
  src/mocks/i18n.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add dependency-cruise to lint-staged
  .lintstagedrc.json
Due: none

refactor: move organisms to feature folders
  src/app/features/.gitkeep
  src/app/features/app/error/unexpected/unexpected-error-message.module.scss
  src/app/features/app/error/unexpected/unexpected-error-message.stories.tsx
  src/app/features/app/error/unexpected/unexpected-error-message.test.tsx
  src/app/features/app/error/unexpected/unexpected-error-message.tsx
  src/app/features/app/index.ts
  src/app/features/app/service-worker/service-worker-context.test.tsx
  src/app/features/app/service-worker/service-worker-context.tsx
  src/app/features/app/service-worker/service-worker-message.module.scss
  src/app/features/app/service-worker/service-worker-message.stories.tsx
  src/app/features/app/service-worker/service-worker-message.test.tsx
  src/app/features/app/service-worker/service-worker-message.tsx
  src/app/features/app/service-worker/service-worker-toast.test.tsx
  src/app/features/app/service-worker/service-worker-toast.tsx
  src/app/features/logged-out/language-select/language-select.module.scss
  src/app/features/logged-out/language-select/language-select.stories.tsx
  src/app/features/logged-out/language-select/language-select.test.tsx
  src/app/features/logged-out/language-select/language-select.tsx
  src/app/features/logged-out/theme-button/theme-button.module.scss
  src/app/features/logged-out/theme-button/theme-button.stories.tsx
  src/app/features/logged-out/theme-button/theme-button.test.tsx
  src/app/features/logged-out/theme-button/theme-button.tsx
  src/main.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

refactor: rename storybook groups
  .storybook/preview.tsx
  graphs/.modules.cjs
  src/app/components/accessible-icon/accessible-icon.stories.tsx
  src/app/components/button/button.stories.tsx
  src/app/components/field/field.stories.tsx
  src/app/components/icon-button/icon-button.stories.tsx
  src/app/components/label/label.stories.tsx
  src/app/components/loading/loading-overlay.stories.tsx
  src/app/components/loading/loading-spinner.stories.tsx
  src/app/components/select/select.stories.tsx
  src/app/components/text-input/text-input.stories.tsx
  src/app/components/toast/toast.stories.tsx
  src/app/components/tooltip/tooltip.stories.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Move organism components to feature folders (#294)
  .lintstagedrc.json
  .storybook/preview.tsx
  graphs/.modules.cjs
  src/app/components/accessible-icon/accessible-icon.stories.tsx
  src/app/components/button/button.stories.tsx
  src/app/components/field/field.stories.tsx
  src/app/components/icon-button/icon-button.stories.tsx
  src/app/components/label/label.stories.tsx
  src/app/components/loading/loading-overlay.stories.tsx
  src/app/components/loading/loading-spinner.stories.tsx
  src/app/components/select/select.stories.tsx
  src/app/components/text-input/text-input.stories.tsx
  src/app/components/toast/toast.stories.tsx
  src/app/components/tooltip/tooltip.stories.tsx
  src/app/features/.gitkeep
  src/app/features/app/error/unexpected/unexpected-error-message.module.scss
  src/app/features/app/error/unexpected/unexpected-error-message.stories.tsx
  src/app/features/app/error/unexpected/unexpected-error-message.test.tsx
  src/app/features/app/error/unexpected/unexpected-error-message.tsx
  src/app/features/app/index.ts
  src/app/features/app/service-worker/service-worker-context.test.tsx
  src/app/features/app/service-worker/service-worker-context.tsx
  src/app/features/app/service-worker/service-worker-message.module.scss
  src/app/features/app/service-worker/service-worker-message.stories.tsx
  src/app/features/app/service-worker/service-worker-message.test.tsx
  src/app/features/app/service-worker/service-worker-message.tsx
  src/app/features/app/service-worker/service-worker-toast.test.tsx
  src/app/features/app/service-worker/service-worker-toast.tsx
  src/app/features/logged-out/language-select/language-select.module.scss
  src/app/features/logged-out/language-select/language-select.stories.tsx
  src/app/features/logged-out/language-select/language-select.test.tsx
  src/app/features/logged-out/language-select/language-select.tsx
  src/app/features/logged-out/theme-button/theme-button.module.scss
  src/app/features/logged-out/theme-button/theme-button.stories.tsx
  src/app/features/logged-out/theme-button/theme-button.test.tsx
  src/app/features/logged-out/theme-button/theme-button.tsx
  src/main.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

fix: mock pointer methods in tests
  src/test/mocks/pointer.ts
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: use recommended userEvent.setup
  src/app/api/api-client-context.test.tsx
  src/app/api/api-context.test.tsx
  src/app/app.test.tsx
  src/app/components/button/button.test.tsx
  src/app/components/select/select.test.tsx
  src/app/components/text-input/text-input.test.tsx
  src/app/components/toast/toast-context.test.tsx
  src/app/components/toast/toast.test.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/app/core/auth/auth-context.test.tsx
  src/app/core/config/config-context.test.tsx
  src/app/core/error/error-context.test.tsx
  src/app/core/portal-container/portal-container.test.tsx
  src/app/core/theme/theme-context.test.tsx
  src/app/features/app/error/unexpected/unexpected-error-message.test.tsx
  src/app/features/app/service-worker/service-worker-context.test.tsx
  src/app/features/app/service-worker/service-worker-toast.test.tsx
  src/app/features/logged-out/language-select/language-select.test.tsx
  src/app/features/logged-out/theme-button/theme-button.test.tsx
  src/app/hooks/use-timeout.test.ts
  src/app/utils/context.test.tsx
  src/test/helpers/render.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Use recommended userEvent.setup (#298)
  src/app/api/api-client-context.test.tsx
  src/app/api/api-context.test.tsx
  src/app/app.test.tsx
  src/app/components/button/button.test.tsx
  src/app/components/select/select.test.tsx
  src/app/components/text-input/text-input.test.tsx
  src/app/components/toast/toast-context.test.tsx
  src/app/components/toast/toast.test.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/app/core/auth/auth-context.test.tsx
  src/app/core/config/config-context.test.tsx
  src/app/core/error/error-context.test.tsx
  src/app/core/portal-container/portal-container.test.tsx
  src/app/core/theme/theme-context.test.tsx
  src/app/features/app/error/unexpected/unexpected-error-message.test.tsx
  src/app/features/app/service-worker/service-worker-context.test.tsx
  src/app/features/app/service-worker/service-worker-toast.test.tsx
  src/app/features/logged-out/language-select/language-select.test.tsx
  src/app/features/logged-out/theme-button/theme-button.test.tsx
  src/app/hooks/use-timeout.test.ts
  src/app/utils/context.test.tsx
  src/test/helpers/render.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

test: don't use stories in simple tests
  src/app/components/button/button.test.tsx
  src/app/components/text-input/text-input.test.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Don't use stories in simple tests (#299)
  src/app/components/button/button.test.tsx
  src/app/components/text-input/text-input.test.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add open success/failure toasts
  .storybook/preview.tsx
  src/app/components/toast/toast-context.tsx
  src/app/components/toast/toast-types.ts
  src/app/components/toast/toast.tsx
  src/app/core/auth/use-auth-manager.tsx
  src/app/core/error/use-error-manager.tsx
  src/app/core/error/user-error-page-manager.tsx
  src/app/core/i18n/i18n-format.ts
  src/app/features/app/error/unexpected/unexpected-error-message.stories.tsx
  src/app/features/app/error/unexpected/unexpected-error-message.test.tsx
  src/app/features/app/error/unexpected/unexpected-error-message.tsx
  src/main.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: remove theme toggle on tooltips/toasts
  src/app/components/toast/toast.tsx
  src/app/components/tooltip/tooltip.tsx
  src/app/hooks/use-contrast-theme.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: set tooltip colors instead of theme
  src/styles/components/_tooltip.scss
Due: ls-lint, stylelint --fix, prettier --write
