Repository ruidnogueira/react-showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, dependency-cruise --output-type err-long --config .dependency-cruiser.cjs, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*": [
    "ls-lint",
    "dependency-cruise --output-type err-long --config .dependency-cruiser.cjs"
  ],
  "src/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --max-warnings=0",
  "src/**/*.{css,scss}": "stylelint --fix",
  "src/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

refactor: adjust sw message toasts colors
  src/app/components/toast/toast-context.tsx
  src/app/components/toast/toast-types.ts
  src/app/features/app/service-worker/service-worker-message.module.scss
  src/app/features/app/service-worker/service-worker-message.stories.tsx
  src/app/features/app/service-worker/service-worker-toast.tsx
Due: ls-lint, dependency-cruise --output-type err-long --config .dependency-cruiser.cjs, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

refactor: share styles between overlays
  src/styles/components/_select.scss
  src/styles/components/_toast.scss
  src/styles/utils/components/_index.scss
  src/styles/utils/components/_overlay.scss
Due: ls-lint, dependency-cruise --output-type err-long --config .dependency-cruiser.cjs, stylelint --fix, prettier --write

feat: add success and failure toast styles
  src/app/components/toast/toast-types.ts
  src/app/components/toast/toast.stories.tsx
  src/app/components/toast/toast.tsx
  src/stories/variants.tsx
  src/styles/components/_toast.scss
Due: ls-lint, dependency-cruise --output-type err-long --config .dependency-cruiser.cjs, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: add positive colors
  src/app/components/toast/toast.tsx
  src/main.tsx
  src/styles/components/_toast.scss
  src/styles/utils/themes/_dark.scss
  src/styles/utils/themes/_light.scss
Due: ls-lint, dependency-cruise --output-type err-long --config .dependency-cruiser.cjs, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: use secondary background in toasts
  src/app/features/app/service-worker/service-worker-message.module.scss
  src/app/features/app/service-worker/service-worker-message.stories.tsx
  src/app/features/app/service-worker/service-worker-toast.tsx
  src/styles/components/_toast.scss
  src/styles/utils/themes/_dark.scss
  src/styles/utils/themes/_light.scss
Due: ls-lint, dependency-cruise --output-type err-long --config .dependency-cruiser.cjs, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: update msw to 0.49.1
  package-lock.json
  package.json
  public/mockServiceWorker.js
Due: none

feat: add toast title and icon
  src/app/components/toast/toast-context.test.tsx
  src/app/components/toast/toast-context.tsx
  src/app/components/toast/toast-overlay.tsx
  src/app/components/toast/toast-types.ts
  src/app/components/toast/toast.stories.tsx
  src/app/components/toast/toast.tsx
  src/styles/components/_toast.scss
Due: ls-lint, dependency-cruise --output-type err-long --config .dependency-cruiser.cjs, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write
