Repository ruidnogueira/react-showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

chore: suppress unwanted test error messages
  src/app/components/error/unexpected/unexpected-error-message.test.tsx
  src/app/components/service-worker/service-worker-context.test.tsx
  src/app/contexts/config/config-context.test.tsx
  src/app/contexts/i18n/i18n-context.test.tsx
  src/app/contexts/i18n/i18n-format.test.ts
  src/app/contexts/theme/theme-context.test.tsx
  src/app/utils/context.test.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: rename icon component
  src/app/components/accessible-icon/accessible-icon.stories.tsx
  src/app/components/accessible-icon/accessible-icon.test.tsx
  src/app/components/accessible-icon/accessible-icon.tsx
  src/app/components/icon-button/icon-button.stories.tsx
  src/app/components/icon-button/icon-button.tsx
  src/app/components/icon/icon.stories.tsx
  src/app/components/icon/icon.tsx
  src/app/components/loading/loading-spinner.tsx
  src/app/components/theme-button/theme-button.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: group button stories
  src/app/components/button/button.stories.tsx
  src/app/components/icon-button/icon-button.stories.tsx
  src/app/components/tooltip/tooltip.stories.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: rename storybookvariants
  src/app/components/button/button.stories.tsx
  src/stories/variants.tsx
  src/test/helpers/render.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: replace small story with size story
  src/app/components/button/button.stories.tsx
  src/app/components/field/field.stories.tsx
  src/app/components/label/label.stories.tsx
  src/app/components/select/select.stories.tsx
  src/app/components/text-input/text-input.stories.tsx
  src/app/components/tooltip/tooltip.stories.tsx
  src/app/models/styles.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: move styles types to type folder
  src/app/components/button/button.stories.tsx
  src/app/components/button/button.tsx
  src/app/components/field/field.stories.tsx
  src/app/components/field/field.tsx
  src/app/components/icon-button/icon-button.stories.tsx
  src/app/components/label/label.stories.tsx
  src/app/components/label/label.tsx
  src/app/components/select/select.stories.tsx
  src/app/components/select/select.tsx
  src/app/components/text-input/text-input.stories.tsx
  src/app/components/text-input/text-input.tsx
  src/app/components/tooltip/tooltip.stories.tsx
  src/app/types/styles.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

chore: restrict import of radix select
  .eslintrc.json
Due: none

chore: restrict import of radix select
  src/app/components/select/select.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add select open stories
  src/app/components/select/select.stories.tsx
  src/styles/components/_select.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

refactor: create axe wrapper
  .eslintrc.json
  src/app/components/accessible-icon/accessible-icon.test.tsx
  src/app/components/button/button.test.tsx
  src/app/components/error/unexpected/unexpected-error-message.test.tsx
  src/app/components/field/field.test.tsx
  src/app/components/icon-button/icon-button.test.tsx
  src/app/components/label/label.test.tsx
  src/app/components/loading/loading-overlay.test.tsx
  src/app/components/loading/loading-spinner.test.tsx
  src/app/components/text-input/text-input.test.tsx
  src/app/components/theme-button/theme-button.test.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/test/helpers/axe.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

test: include base element in a11y tests
  src/app/components/accessible-icon/accessible-icon.test.tsx
  src/app/components/button/button.test.tsx
  src/app/components/error/unexpected/unexpected-error-message.test.tsx
  src/app/components/field/field.test.tsx
  src/app/components/icon-button/icon-button.test.tsx
  src/app/components/label/label.test.tsx
  src/app/components/loading/loading-overlay.test.tsx
  src/app/components/loading/loading-spinner.test.tsx
  src/app/components/text-input/text-input.test.tsx
  src/app/components/theme-button/theme-button.test.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/test/helpers/axe.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

test: add select tests
  src/app/components/select/select.test.tsx
  src/app/components/select/select.tsx
  src/test/mocks/html-element.ts
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

fix: remove wrong prop from select story
  src/app/components/select/select.stories.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: stop supporting themes in chromatic
  .storybook/preview-head.html
  .storybook/preview.tsx
  src/app/components/select/select.stories.tsx
  src/app/components/tooltip/tooltip.stories.tsx
  src/app/contexts/portal-container/portal-container.tsx
  src/stories/interactions.ts
  src/styles/base/_base.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

refactor: remove option to hide story variants
  src/app/components/accessible-icon/accessible-icon.test.tsx
  src/app/components/button/button.stories.tsx
  src/app/components/button/button.test.tsx
  src/app/components/error/unexpected/unexpected-error-message.test.tsx
  src/app/components/field/field.test.tsx
  src/app/components/icon-button/icon-button.test.tsx
  src/app/components/label/label.test.tsx
  src/app/components/loading/loading-overlay.test.tsx
  src/app/components/loading/loading-spinner.test.tsx
  src/app/components/select/select.test.tsx
  src/app/components/text-input/text-input.test.tsx
  src/app/components/theme-button/theme-button.test.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/stories/variants.tsx
  src/test/helpers/render.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

fix: loading overlay story
  src/app/components/loading/loading-overlay.stories.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

fix: open select in tests
  src/app/components/select/select.test.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: update storybook dependencies to 6.5.10
  .npmrc
  package-lock.json
  package.json
Due: none

feat: update storybook dependencies to 6.5.10 (#159)
  .npmrc
  package-lock.json
  package.json
Due: none

feat: add language select
  .storybook/preview.tsx
  src/app/components/icon-button/icon-button.stories.tsx
  src/app/components/icon-button/icon-button.tsx
  src/app/components/language-select/language-select.module.scss
  src/app/components/language-select/language-select.stories.tsx
  src/app/components/language-select/language-select.test.tsx
  src/app/components/language-select/language-select.tsx
  src/app/components/select/select.stories.tsx
  src/app/components/select/select.test.tsx
  src/app/components/select/select.tsx
  src/locales/en/components.json
  src/locales/pt/components.json
  src/mocks/i18n.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

fix: dont merge compound components
  src/app/components/icon-button/icon-button.stories.tsx
  src/app/components/icon-button/icon-button.tsx
  src/app/components/language-select/language-select.tsx
  src/app/components/select/select.stories.tsx
  src/app/components/select/select.test.tsx
  src/app/components/select/select.tsx
  src/app/components/theme-button/theme-button.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Add language select (#160)
  .storybook/preview.tsx
  src/app/components/icon-button/icon-button.stories.tsx
  src/app/components/icon-button/icon-button.tsx
  src/app/components/language-select/language-select.module.scss
  src/app/components/language-select/language-select.stories.tsx
  src/app/components/language-select/language-select.test.tsx
  src/app/components/language-select/language-select.tsx
  src/app/components/theme-button/theme-button.tsx
  src/locales/en/components.json
  src/locales/pt/components.json
  src/mocks/i18n.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: replace c8 coverage with istanbul
  package-lock.json
  package.json
  vite.config.ts
Due: none

test: add missing tests
  src/app/components/loading/loading-overlay.test.tsx
  src/app/components/select/select.test.tsx
  src/app/utils/path.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Replace c8 coverage with istanbul (#165)
  package-lock.json
  package.json
  src/app/components/loading/loading-overlay.test.tsx
  src/app/components/select/select.test.tsx
  src/app/utils/path.ts
  vite.config.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add useIsomorphicLayoutEffect
  .eslintrc.json
  src/app/hooks/use-isomorphic-layout-effect.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add useTimeout
  src/app/contexts/i18n/i18n-context.tsx
  src/app/hooks/use-timeout.test.ts
  src/app/hooks/use-timeout.ts
  src/test/mocks/resize-observer.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add toast styles
  src/styles/components/_button.scss
  src/styles/components/_index.scss
  src/styles/components/_toast.scss
  src/styles/utils/_variables.scss
Due: ls-lint, stylelint --fix, prettier --write

feat: add toast component
  src/app/components/toast/toast-types.ts
  src/app/components/toast/toast.stories.tsx
  src/app/components/toast/toast.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add uuid util
  package-lock.json
  package.json
  src/app/utils/id.test.ts
  src/app/utils/id.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add portal component
  src/app/components/portal/portal.test.tsx
  src/app/components/portal/portal.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add toast context and overlay
  src/app/components/toast/toast-context.tsx
  src/app/components/toast/toast-overlay.tsx
  src/app/components/toast/toast.stories.tsx
  src/app/components/toast/toast.tsx
  src/styles/components/_toast.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

test: add toast tests
  src/app/components/toast/toast.test.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add toast translations
  src/locales/en/common.json
  src/locales/pt/common.json
Due: ls-lint, prettier --write

test: add toast context tests
  src/app/components/toast/toast-context.test.tsx
  src/app/components/toast/toast-overlay.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add toast shortcut hotkeys
  src/app/components/portal/portal.tsx
  src/app/components/toast/toast-context.test.tsx
  src/app/components/toast/toast-context.tsx
  src/app/components/toast/toast-overlay.tsx
  src/app/components/toast/toast.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

docs: remove todo
  src/app/contexts/i18n/i18n-context.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

fix: wrong playwright app port
  playwright.config.ts
Due: none

fix: typescript build error
  src/app/components/toast/toast.test.tsx
  src/app/components/tooltip/tooltip.test.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Path conditions:
  ls-lint: any of: src/**/*
  eslint --cache --fix --max-warnings=0: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,css,scss,md}
