Repository ruidnogueira/react-showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

build: prevent chromatic to run on main branch
  .github/workflows/chromatic.yml
Due: none

Optimize chromatic (#24)
  .github/workflows/chromatic.yml
Due: none

Pin dependencies
  package-lock.json
  package.json
Due: none

Pin dependency vite-plugin-pwa to 0.12.0
  package-lock.json
  package.json
Due: none

chore: support svgs as react components
  index.html
  package-lock.json
  package.json
  src/app/app.tsx
  src/assets/logo.svg
  src/favicon.svg
  src/vite-env.d.ts
  vite-plugins.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Support svgs as react components (#27)
  index.html
  package-lock.json
  package.json
  src/app/app.tsx
  src/assets/logo.svg
  src/favicon.svg
  src/vite-env.d.ts
  vite-plugins.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

chore: add router
  package-lock.json
  package.json
  src/app/utils/path.test.ts
  src/app/utils/path.ts
  src/main.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Add router (#28)
  package-lock.json
  package.json
  src/app/utils/path.test.ts
  src/app/utils/path.ts
  src/main.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Update dependency @storybook/testing-library to v0.0.12
  package-lock.json
  package.json
Due: none

Update dependency lint-staged to v13.0.1
  package-lock.json
  package.json
Due: none

chore: add i18n
  package-lock.json
  package.json
  public/locales/en-GB/translation.json
  public/locales/en-US/translation.json
  public/locales/en/translation.json
  public/locales/pt-PT/translation.json
  public/locales/pt/translation.json
  src/app/app.tsx
  src/app/contexts/config/config-context.tsx
  src/app/contexts/config/constants-config.ts
  src/app/contexts/config/i18n-config.ts
  src/app/contexts/config/storage-config.ts
  src/app/contexts/i18n/i18n-context.tsx
  src/app/contexts/i18n/i18n-format.ts
  src/app/hooks/use-effect-on-mount.ts
  src/main.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

test: support i18n in tests
  src/app/app.test.tsx
  src/app/components/service-worker/service-worker-context.test.tsx
  src/test/helpers/render.tsx
  src/test/mocks/i18n.tsx
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

test: add i18n tests
  src/app/contexts/config/config-context.test.tsx
  src/app/contexts/i18n/i18n-context.test.tsx
  src/app/contexts/i18n/i18n-format.test.ts
  src/app/hooks/use-effect-on-mount.test.ts
  src/app/utils/context.test.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

chore: support i18n in storybook
  .storybook/preview.tsx
Due: none

chore: forbid import testing library render utils
  .eslintrc.json
Due: none

build: bundle i18n files
  .ls-lint.yml
  package-lock.json
  package.json
  plugins/bundle-i18n.ts
  src/app/app.test.tsx
  src/app/app.tsx
  src/locales/en-GB/common.json
  src/locales/en-US/common.json
  src/locales/en/common.json
  src/locales/pt-PT/common.json
  src/locales/pt/common.json
  tsconfig.json
  tsconfig.node.json
  vite-plugins.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

test: update e2e test
  e2e/tests/home.test.ts
Due: none

Add i18n (#31)
  .eslintrc.json
  .ls-lint.yml
  .storybook/preview.tsx
  e2e/tests/home.test.ts
  package-lock.json
  package.json
  plugins/bundle-i18n.ts
  src/app/app.test.tsx
  src/app/app.tsx
  src/app/components/service-worker/service-worker-context.test.tsx
  src/app/contexts/config/config-context.test.tsx
  src/app/contexts/config/config-context.tsx
  src/app/contexts/config/constants-config.ts
  src/app/contexts/config/i18n-config.ts
  src/app/contexts/config/storage-config.ts
  src/app/contexts/i18n/i18n-context.test.tsx
  src/app/contexts/i18n/i18n-context.tsx
  src/app/contexts/i18n/i18n-format.test.ts
  src/app/contexts/i18n/i18n-format.ts
  src/app/hooks/use-effect-on-mount.test.ts
  src/app/hooks/use-effect-on-mount.ts
  src/app/utils/context.test.tsx
  src/locales/en-GB/common.json
  src/locales/en-US/common.json
  src/locales/en/common.json
  src/locales/pt-PT/common.json
  src/locales/pt/common.json
  src/main.tsx
  src/test/helpers/render.tsx
  src/test/mocks/i18n.tsx
  src/test/setup-tests.ts
  tsconfig.json
  tsconfig.node.json
  vite-plugins.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Update dependency stylelint to v14.9.1
  package-lock.json
  package.json
Due: none

Update dependency sass to v1.52.3
  package-lock.json
  package.json
Due: none

Update dependency prettier to v2.7.0
  package-lock.json
  package.json
Due: none

chore: update storybook
  package-lock.json
  package.json
Due: none

Update storybook dependencies to 6.5.9 (#37)
  package-lock.json
  package.json
Due: none

ci: disable storybook automerge
  renovate.json
Due: none

Disable renovate storybook automerge (#38)
  renovate.json
Due: none

style: use css normalizer
  package-lock.json
  package.json
  src/app/app.module.scss
  src/app/app.tsx
  src/index.scss
  src/main.tsx
  src/styles/styles.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

style: add fonts
  public/fonts/Raleway-Bold.woff
  public/fonts/Raleway-Bold.woff2
  public/fonts/Raleway-Regular.woff
  public/fonts/Raleway-Regular.woff2
  public/fonts/Roboto-Bold.woff
  public/fonts/Roboto-Bold.woff2
  public/fonts/Roboto-Regular.woff
  public/fonts/Roboto-Regular.woff2
  src/styles/base/_fonts.scss
  src/styles/base/_index.scss
  src/styles/styles.scss
Due: ls-lint, stylelint --fix, prettier --write

style: add light and dark themes
  src/styles/base/_base.scss
  src/styles/base/_index.scss
  src/styles/base/_variables.scss
  src/styles/utils/_functions.scss
  src/styles/utils/_index.scss
  src/styles/utils/_mixins.scss
  src/styles/utils/themes/_colors.scss
  src/styles/utils/themes/_dark.scss
  src/styles/utils/themes/_index.scss
  src/styles/utils/themes/_light.scss
  src/styles/utils/themes/_themes.scss
Due: ls-lint, stylelint --fix, prettier --write

style: add text styles
  .stylelintrc.json
  src/styles/base/_base.scss
  src/styles/utils/_functions.scss
  src/styles/utils/_index.scss
  src/styles/utils/_text.scss
  src/styles/utils/_variables.scss
Due: ls-lint, stylelint --fix, prettier --write

feat: add storage utils
  src/app/utils/storage.test.ts
  src/app/utils/storage.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add theme context
  .eslintrc.json
  package-lock.json
  package.json
  src/app/app.tsx
  src/app/contexts/theme/theme-context.test.tsx
  src/app/contexts/theme/theme-context.tsx
  src/main.tsx
  src/test/helpers/render.tsx
  src/test/mocks/match-media.ts
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

chore: support theming in storybook
  .storybook/preview-head.html
  .storybook/preview.tsx
  package-lock.json
  package.json
  src/styles/base/_base.scss
Due: ls-lint, stylelint --fix, prettier --write

style: initial themes config
  src/app/hooks/use-effect-on-mount.ts
  src/styles/base/_base.scss
  src/styles/base/_variables.scss
  src/styles/utils/_functions.scss
  src/styles/utils/themes/_colors.scss
  src/styles/utils/themes/_dark.scss
  src/styles/utils/themes/_functions.scss
  src/styles/utils/themes/_light.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: add text contrast utils
  src/styles/utils/_functions.scss
Due: ls-lint, stylelint --fix, prettier --write

refactor: themify font variables
  .storybook/preview-head.html
  src/styles/utils/_index.scss
  src/styles/utils/_text.scss
  src/styles/utils/_variables.scss
  src/styles/utils/themes/_dark.scss
  src/styles/utils/themes/_light.scss
Due: ls-lint, stylelint --fix, prettier --write

refactor: rename color vars
  src/styles/base/_base.scss
  src/styles/utils/themes/_dark.scss
  src/styles/utils/themes/_light.scss
Due: ls-lint, stylelint --fix, prettier --write

fix: lint issues
  src/app/utils/context.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

fix: storybook interactions with multiple themes
  .storybook/preview.tsx
  src/app/contexts/theme/theme-context.tsx
  src/stories/helpers/story.ts
  src/stories/page.stories.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Path conditions:
  ls-lint: any of: src/**/*
  eslint --cache --fix --max-warnings=0: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,css,scss,md}
