Repository ruidnogueira/react-showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*": "ls-lint",
  "src/**/*.{css,scss}": "stylelint --fix",
  "src/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

Setup test environment
  .github/workflows/node.js.yml
  .gitignore
  package-lock.json
  package.json
  src/app.test.tsx
  src/app.tsx
  src/main.tsx
  src/test/setup-tests.ts
  tsconfig.json
  vite.config.ts
Due: ls-lint, prettier --write

chore: changes
  src/app.tsx
Due: ls-lint, prettier --write

fix: wrong branch name
  .github/workflows/node.js.yml
Due: none

Add stylelint
  .lintstagedrc.json
  .stylelintrc.json
  package-lock.json
  package.json
  src/app.module.scss
  src/index.scss
Due: ls-lint, stylelint --fix, prettier --write

Add build pipeline
  .github/workflows/node.js.yml
Due: none

Configure renovate
  renovate.json
Due: none

Add prettier
  .lintstagedrc.json
  .prettierrc.json
  package-lock.json
  package.json
  src/index.scss
Due: ls-lint, stylelint --fix, prettier --write

Add ls-lint
  .lintstagedrc.json
  .ls-lint.yml
  package-lock.json
  package.json
  src/app.module.scss
  src/app.tsx
  src/main.tsx
Due: ls-lint, stylelint --fix, prettier --write

chore: update test reporters
  vite.config.ts
Due: none

chore: improve codecov
  .github/workflows/node.js.yml
Due: none

Add eslint
  .eslintignore
  .eslintrc.json
  .github/workflows/node.js.yml
  .gitignore
  .lintstagedrc.json
  package-lock.json
  package.json
  src/main.tsx
  vite.config.ts
Due: ls-lint, prettier --write

chore: add storybook
  .gitignore
  .storybook/main.js
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.tsx
  package-lock.json
  package.json
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/button.stories.tsx
  src/stories/button.tsx
  src/stories/header.css
  src/stories/header.stories.tsx
  src/stories/header.tsx
  src/stories/introduction.stories.mdx
  src/stories/page.css
  src/stories/page.stories.tsx
  src/stories/page.tsx
Due: ls-lint, stylelint --fix, prettier --write

chore: add chromatic
  .github/workflows/chromatic.yml
  package-lock.json
  package.json
Due: none

chore: exclude stories from coverage
  vite.config.ts
Due: none

Add storybook and chromatic (#7)
  .github/workflows/chromatic.yml
  .gitignore
  .storybook/main.js
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.tsx
  package-lock.json
  package.json
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/button.stories.tsx
  src/stories/button.tsx
  src/stories/header.css
  src/stories/header.stories.tsx
  src/stories/header.tsx
  src/stories/introduction.stories.mdx
  src/stories/page.css
  src/stories/page.stories.tsx
  src/stories/page.tsx
  vite.config.ts
Due: ls-lint, stylelint --fix, prettier --write

build: upload coverage to code climate
  .github/workflows/node.js.yml
Due: none

docs: add readme and extension recommendations
  .vscode/extensions.json
  README.md
  package.json
Due: none

Add readme and extension recommendations (#10)
  .vscode/extensions.json
  README.md
  package.json
Due: none

chore: setup server mocking
  .eslintignore
  .storybook/main.ts
  .storybook/preview.tsx
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/main.tsx
  src/mocks/server/browser.ts
  src/mocks/server/server.ts
  src/stories/button.stories.tsx
  src/test/setup-tests.ts
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite-plugins.ts
  vite.config.ts
Due: ls-lint, prettier --write

Setup server mocking (#11)
  .eslintignore
  .storybook/main.ts
  .storybook/preview.tsx
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/main.tsx
  src/mocks/server/browser.ts
  src/mocks/server/server.ts
  src/stories/button.stories.tsx
  src/test/setup-tests.ts
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite-plugins.ts
  vite.config.ts
Due: ls-lint, prettier --write

Pin dependencies
  package-lock.json
  package.json
Due: none

Update actions/setup-node action to v3
  .github/workflows/chromatic.yml
Due: none

Update codecov/codecov-action action to v3
  .github/workflows/node.js.yml
Due: none

build: add bundle analyzer
  .gitignore
  package-lock.json
  package.json
  vite.config.ts
Due: none

Add bundle analyzer (#18)
  .gitignore
  package-lock.json
  package.json
  vite.config.ts
Due: none

Updates
  assets/favicon.63a26457.svg
  assets/index.b0e9e98b.js
  assets/index.e858dbf5.css
  assets/logo.70aa190a.svg
  index.html
  mockServiceWorker.js
Due: none

build: setup app deployment
  .env
  .github/workflows/node.js.yml
  package-lock.json
  package.json
  src/main.tsx
  vite.config.ts
Due: ls-lint, prettier --write

Setup app deployment (#19)
  .env
  .github/workflows/node.js.yml
  package-lock.json
  package.json
  src/main.tsx
  vite.config.ts
Due: ls-lint, prettier --write

build: configure e2e testing
  .github/workflows/node.js.yml
  .gitignore
  e2e/tests/home.test.ts
  package-lock.json
  package.json
  playwright.config.ts
  tsconfig.json
Due: none

Configure e2e testing (#20)
  .github/workflows/node.js.yml
  .gitignore
  e2e/tests/home.test.ts
  package-lock.json
  package.json
  playwright.config.ts
  tsconfig.json
Due: none

Pin dependency eslint-plugin-playwright to 0.9.0
  package-lock.json
  package.json
Due: none

feat: turn app into a progressive web app
  .storybook/main.ts
  package-lock.json
  package.json
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  src/app/app.module.scss
  src/app/app.test.tsx
  src/app/app.tsx
  src/app/components/service-worker/service-worker-context.test.tsx
  src/app/components/service-worker/service-worker-context.tsx
  src/app/modules/.gitkeep
  src/app/utils/context.test.tsx
  src/app/utils/context.ts
  src/main.tsx
  src/service-worker.ts
  src/stories/button.stories.tsx
  src/test/setup-tests.ts
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: ls-lint, stylelint --fix, prettier --write

Turn app into a progressive web app (#23)
  .storybook/main.ts
  package-lock.json
  package.json
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  src/app/app.module.scss
  src/app/app.test.tsx
  src/app/app.tsx
  src/app/components/service-worker/service-worker-context.test.tsx
  src/app/components/service-worker/service-worker-context.tsx
  src/app/modules/.gitkeep
  src/app/utils/context.test.tsx
  src/app/utils/context.ts
  src/main.tsx
  src/service-worker.ts
  src/stories/button.stories.tsx
  src/test/setup-tests.ts
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: ls-lint, stylelint --fix, prettier --write

build: remove unused variable
  .github/workflows/chromatic.yml
Due: none
