Repository ruidnogueira/react-showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

fix: storybook theme vars
  .storybook/preview-head.html
Due: none

feat: add button component
  .eslintrc.json
  package-lock.json
  package.json
  src/app/components/button/button.tsx
  src/app/models/styles.ts
  src/app/types/union.ts
  src/test/mocks/i18n.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add button stories
  .storybook/preview-head.html
  src/app/components/button/button.stories.tsx
  src/app/utils/context.test.tsx
  src/app/utils/context.ts
  src/stories/helpers/story.ts
  src/stories/helpers/story.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

chore: add storybook a11y addon
  .storybook/main.ts
  package-lock.json
  package.json
Due: none

feat: adjust button styles
  .stylelintrc.json
  .vscode/extensions.json
  src/app/components/button/button.stories.tsx
  src/app/components/button/button.tsx
  src/app/models/styles.ts
  src/styles/base/_base.scss
  src/styles/components/_button.scss
  src/styles/components/_index.scss
  src/styles/styles.scss
  src/styles/utils/_color.scss
  src/styles/utils/_control.scss
  src/styles/utils/_functions.scss
  src/styles/utils/_index.scss
  src/styles/utils/_mixins.scss
  src/styles/utils/themes/_dark.scss
  src/styles/utils/themes/_functions.scss
  src/styles/utils/themes/_light.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

chore: remove storybook examples
  src/app/components/button/button.stories.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/button.stories.tsx
  src/stories/button.tsx
  src/stories/header.css
  src/stories/header.stories.tsx
  src/stories/header.tsx
  src/stories/introduction.stories.mdx
  src/stories/page.css
  src/stories/page.stories.tsx
  src/stories/page.tsx
  src/styles/components/_button.scss
  src/styles/utils/_color.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: load i18n translations in tests
  plugins/bundle-i18n.ts
  src/app/app.test.tsx
  src/test/mocks/i18n.ts
  src/vite-env.d.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: storybook helpers
  src/app/components/button/button.stories.tsx
  src/stories/helpers/story.tsx
  src/stories/interactions.ts
  src/stories/variants.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

chore: add story and a11y test utils
  package-lock.json
  package.json
  src/test/helpers/render.tsx
  src/test/helpers/test.tsx
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

test: add button tests
  src/app/components/button/button.test.tsx
  src/styles/components/_button.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

fix: storybook variants not showing
  src/stories/variants.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

fix: eslint issues
  src/app/app.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: support disabled asChild
  src/app/components/button/button.stories.tsx
  src/app/components/button/button.test.tsx
  src/app/components/button/button.tsx
  src/styles/components/_button.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: make story test rendering more flexible
  src/app/components/button/button.test.tsx
  src/test/helpers/render.tsx
  src/test/helpers/test.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: replace classnames with clsx
  .storybook/preview.tsx
  package-lock.json
  package.json
  src/app/components/button/button.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Replace library classnames with clsx (#60)
  .storybook/preview.tsx
  package-lock.json
  package.json
  src/app/components/button/button.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

fix: renovate grouping version bumps and pins
  renovate.json
Due: none

Fix renovate grouping version bumps and pins (#63)
  renovate.json
Due: none

chore: update service worker
  public/mockServiceWorker.js
Due: none

fix: prevent msw automerges
  renovate.json
Due: none

feat: add loading and spinner components
  package-lock.json
  package.json
  src/app/components/loading/loading-spinner.stories.tsx
  src/app/components/loading/loading-spinner.test.tsx
  src/app/components/loading/loading-spinner.tsx
  src/app/components/loading/loading.stories.tsx
  src/app/components/loading/loading.test.tsx
  src/app/components/loading/loading.tsx
  src/assets/spinner.svg
  src/styles/components/_index.scss
  src/styles/components/_loading.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: add loading to button
  src/app/components/button/button.stories.tsx
  src/app/components/button/button.test.tsx
  src/app/components/button/button.tsx
  src/locales/en-GB/.gitkeep
  src/locales/en-GB/common.json
  src/locales/en-US/.gitkeep
  src/locales/en-US/common.json
  src/locales/en/common.json
  src/locales/pt-PT/.gitkeep
  src/locales/pt-PT/common.json
  src/locales/pt/common.json
  src/styles/components/_button.scss
  src/styles/utils/_mixins.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

Add loading spinner (#88)
  package-lock.json
  package.json
  src/app/components/button/button.stories.tsx
  src/app/components/button/button.test.tsx
  src/app/components/button/button.tsx
  src/app/components/loading/loading-spinner.stories.tsx
  src/app/components/loading/loading-spinner.test.tsx
  src/app/components/loading/loading-spinner.tsx
  src/app/components/loading/loading.stories.tsx
  src/app/components/loading/loading.test.tsx
  src/app/components/loading/loading.tsx
  src/assets/spinner.svg
  src/locales/en-GB/.gitkeep
  src/locales/en-GB/common.json
  src/locales/en-US/.gitkeep
  src/locales/en-US/common.json
  src/locales/en/common.json
  src/locales/pt-PT/.gitkeep
  src/locales/pt-PT/common.json
  src/locales/pt/common.json
  src/styles/components/_button.scss
  src/styles/components/_index.scss
  src/styles/components/_loading.scss
  src/styles/utils/_mixins.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

refactor: decouple loading from button
  src/app/components/button/button.stories.tsx
  src/app/components/button/button.test.tsx
  src/app/components/button/button.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Decouple loading from button (#89)
  src/app/components/button/button.stories.tsx
  src/app/components/button/button.test.tsx
  src/app/components/button/button.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

fix: allow chromatic to run in main branch
  .github/workflows/chromatic.yml
Due: none

Allow chromatic to run in main branch (#90)
  .github/workflows/chromatic.yml
Due: none

fix: links in buttons
  src/app/components/button/button.stories.tsx
  src/app/components/button/button.tsx
  src/app/components/loading/loading-spinner.tsx
  src/styles/components/_button.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

Fix links in buttons (#91)
  src/app/components/button/button.stories.tsx
  src/app/components/button/button.tsx
  src/app/components/loading/loading-spinner.tsx
  src/styles/components/_button.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: add unexpected error fallback UI
  package-lock.json
  package.json
  src/app/components/button/button.stories.tsx
  src/app/components/error/unexpected/unexpected-error-message.module.scss
  src/app/components/error/unexpected/unexpected-error-message.stories.tsx
  src/app/components/error/unexpected/unexpected-error-message.test.tsx
  src/app/components/error/unexpected/unexpected-error-message.tsx
  src/app/components/loading/loading-spinner.stories.tsx
  src/app/components/loading/loading.stories.tsx
  src/locales/en/common.json
  src/locales/en/errors.json
  src/locales/pt/common.json
  src/locales/pt/errors.json
  src/main.tsx
  src/styles/utils/_text.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

Add unexpected error fallback UI (#94)
  package-lock.json
  package.json
  src/app/components/button/button.stories.tsx
  src/app/components/error/unexpected/unexpected-error-message.module.scss
  src/app/components/error/unexpected/unexpected-error-message.stories.tsx
  src/app/components/error/unexpected/unexpected-error-message.test.tsx
  src/app/components/error/unexpected/unexpected-error-message.tsx
  src/app/components/loading/loading-spinner.stories.tsx
  src/app/components/loading/loading.stories.tsx
  src/locales/en/common.json
  src/locales/en/errors.json
  src/locales/pt/common.json
  src/locales/pt/errors.json
  src/main.tsx
  src/styles/utils/_text.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: allow to change language in storybook
  .storybook/preview.tsx
  plugins/bundle-i18n.ts
  src/mocks/i18n.ts
  src/test/mocks/i18n.ts
  src/test/setup-tests.ts
  tsconfig.json
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Allow to change language in storybook (#95)
  .storybook/preview.tsx
  plugins/bundle-i18n.ts
  src/mocks/i18n.ts
  src/test/mocks/i18n.ts
  src/test/setup-tests.ts
  tsconfig.json
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: treat files as esmodules by default
  .storybook/package.json
  package.json
Due: none

fix: playwright with es modules
  playwright.config.ts
  plugins/bundle-i18n.ts
  vite-plugins.ts
Due: none

Treat files as es modules by default (#96)
  .storybook/package.json
  package.json
  playwright.config.ts
  plugins/bundle-i18n.ts
  vite-plugins.ts
Due: none

chore: disallow unchecked index access
  plugins/bundle-i18n.ts
  tsconfig.json
Due: none

Disallow unchecked index access (#97)
  plugins/bundle-i18n.ts
  tsconfig.json
Due: none

Path conditions:
  ls-lint: any of: src/**/*
  eslint --cache --fix --max-warnings=0: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,css,scss,md}
