Repository ruidnogueira/react-showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*": "ls-lint",
  "src/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --max-warnings=0",
  "src/**/*.{css,scss}": "stylelint --fix",
  "src/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

chore: exclude stories from chromatic
  src/app/components/toast/toast.stories.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

fix: exclude stories from chromatic
  src/app/components/toast/toast.stories.tsx
  src/app/components/tooltip/tooltip.stories.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Add toast (#176)
  .eslintrc.json
  package-lock.json
  package.json
  playwright.config.ts
  src/app/components/portal/portal.test.tsx
  src/app/components/portal/portal.tsx
  src/app/components/toast/toast-context.test.tsx
  src/app/components/toast/toast-context.tsx
  src/app/components/toast/toast-overlay.tsx
  src/app/components/toast/toast-types.ts
  src/app/components/toast/toast.stories.tsx
  src/app/components/toast/toast.test.tsx
  src/app/components/toast/toast.tsx
  src/app/components/tooltip/tooltip.stories.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/app/hooks/use-isomorphic-layout-effect.ts
  src/app/hooks/use-timeout.test.ts
  src/app/hooks/use-timeout.ts
  src/app/utils/id.test.ts
  src/app/utils/id.ts
  src/locales/en/common.json
  src/locales/pt/common.json
  src/styles/components/_button.scss
  src/styles/components/_index.scss
  src/styles/components/_toast.scss
  src/styles/utils/_variables.scss
  src/test/mocks/resize-observer.ts
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: update msw worker
  public/mockServiceWorker.js
Due: none

chore: update storybook to 6.5.12
  package-lock.json
  package.json
Due: none

Update storybook to 6.5.12 (#213)
  package-lock.json
  package.json
Due: none

refactor: wrap visually hidden
  .eslintrc.json
  src/app/components/accessible-icon/accessible-icon.tsx
  src/app/components/field/field.tsx
  src/app/components/visually-hidden/visually-hidden.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Wrap visually hidden (#216)
  .eslintrc.json
  src/app/components/accessible-icon/accessible-icon.tsx
  src/app/components/field/field.tsx
  src/app/components/visually-hidden/visually-hidden.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

chore: add preflight-check script
  .prettierrc.json
  preflight-check.sh
Due: none

Add preflight-check script (#218)
  .prettierrc.json
  preflight-check.sh
Due: none

fix: make loading content wrapper a div
  src/app/components/loading/loading-overlay.tsx
  src/styles/components/_loading.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

Make loading content wrapper a div instead of span (#219)
  src/app/components/loading/loading-overlay.tsx
  src/styles/components/_loading.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: add open indefinite and temp toast utils
  src/app/components/toast/toast-context.test.tsx
  src/app/components/toast/toast-context.tsx
  src/app/contexts/config/constants-config.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add service worker toast
  .vscode/extensions.json
  src/app/components/service-worker/service-worker-message.module.scss
  src/app/components/service-worker/service-worker-message.stories.tsx
  src/app/components/service-worker/service-worker-message.test.tsx
  src/app/components/service-worker/service-worker-message.tsx
  src/app/components/service-worker/service-worker-toast.test.tsx
  src/app/components/service-worker/service-worker-toast.tsx
  src/locales/en/common.json
  src/locales/en/components.json
  src/locales/pt/common.json
  src/locales/pt/components.json
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: add app providers
  .storybook/preview.tsx
  src/app/app-providers.test.tsx
  src/app/app-providers.tsx
  src/main.tsx
  src/test/helpers/render.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: change theme in tooltip and toast
  src/app/components/service-worker/service-worker-message.module.scss
  src/app/components/service-worker/service-worker-message.test.tsx
  src/app/components/service-worker/service-worker-message.tsx
  src/app/components/toast/toast-context.test.tsx
  src/app/components/toast/toast-context.tsx
  src/app/components/toast/toast.test.tsx
  src/app/components/toast/toast.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/app/components/tooltip/tooltip.tsx
  src/app/hooks/use-contrast-theme.ts
  src/styles/components/_toast.scss
  src/styles/components/_tooltip.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

Add service worker toast (#220)
  .storybook/preview.tsx
  .vscode/extensions.json
  src/app/app-providers.test.tsx
  src/app/app-providers.tsx
  src/app/components/service-worker/service-worker-message.module.scss
  src/app/components/service-worker/service-worker-message.stories.tsx
  src/app/components/service-worker/service-worker-message.test.tsx
  src/app/components/service-worker/service-worker-message.tsx
  src/app/components/service-worker/service-worker-toast.test.tsx
  src/app/components/service-worker/service-worker-toast.tsx
  src/app/components/toast/toast-context.test.tsx
  src/app/components/toast/toast-context.tsx
  src/app/components/toast/toast.test.tsx
  src/app/components/toast/toast.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/app/components/tooltip/tooltip.tsx
  src/app/contexts/config/constants-config.ts
  src/app/hooks/use-contrast-theme.ts
  src/locales/en/common.json
  src/locales/en/components.json
  src/locales/pt/common.json
  src/locales/pt/components.json
  src/main.tsx
  src/styles/components/_toast.scss
  src/styles/components/_tooltip.scss
  src/test/helpers/render.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

chore: fix typos
  src/app/components/accessible-icon/accessible-icon.test.tsx
  src/app/components/button/button.test.tsx
  src/app/components/error/unexpected/unexpected-error-message.test.tsx
  src/app/components/field/field.test.tsx
  src/app/components/icon-button/icon-button.test.tsx
  src/app/components/label/label.test.tsx
  src/app/components/language-select/language-select.test.tsx
  src/app/components/loading/loading-overlay.test.tsx
  src/app/components/loading/loading-spinner.test.tsx
  src/app/components/select/select.test.tsx
  src/app/components/service-worker/service-worker-message.test.tsx
  src/app/components/text-input/text-input.test.tsx
  src/app/components/theme-button/theme-button.test.tsx
  src/app/components/toast/toast.test.tsx
  src/app/components/tooltip/tooltip.test.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Fix typos (#221)
  src/app/components/accessible-icon/accessible-icon.test.tsx
  src/app/components/button/button.test.tsx
  src/app/components/error/unexpected/unexpected-error-message.test.tsx
  src/app/components/field/field.test.tsx
  src/app/components/icon-button/icon-button.test.tsx
  src/app/components/label/label.test.tsx
  src/app/components/language-select/language-select.test.tsx
  src/app/components/loading/loading-overlay.test.tsx
  src/app/components/loading/loading-spinner.test.tsx
  src/app/components/select/select.test.tsx
  src/app/components/service-worker/service-worker-message.test.tsx
  src/app/components/text-input/text-input.test.tsx
  src/app/components/theme-button/theme-button.test.tsx
  src/app/components/toast/toast.test.tsx
  src/app/components/tooltip/tooltip.test.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: rename mock worker and server
  src/main.tsx
  src/mocks/server/browser.ts
  src/mocks/server/server.ts
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add http client
  .env
  .eslintrc.json
  package-lock.json
  package.json
  src/app/api/api.test.ts
  src/app/api/api.ts
  src/test/helpers/either.ts
  src/vite-env.d.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: allow abort api requests
  src/app/api/api.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add partial auth hook
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  src/app/api/auth-api.ts
  src/app/app.tsx
  src/app/contexts/config/constants-config.ts
  src/app/modules/auth/use-auth.ts
  src/app/types/auth.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add partial add msw handlers
  src/app/modules/.gitkeep
  src/app/types/auth.ts
  src/mocks/server/browser.ts
  src/mocks/server/database.ts
  src/mocks/server/database/user-database.ts
  src/mocks/server/handlers.ts
  src/mocks/server/handlers/user-handlers.ts
  src/mocks/server/server.ts
  src/mocks/server/types.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: improve mocks organization
  src/app/types/auth.ts
  src/mocks/server/browser.ts
  src/mocks/server/database.ts
  src/mocks/server/database/database.ts
  src/mocks/server/database/user-factory.ts
  src/mocks/server/handlers.ts
  src/mocks/server/handlers/handler-types.ts
  src/mocks/server/handlers/handlers.ts
  src/mocks/server/handlers/user-handlers.ts
  src/mocks/server/seeds/seed-database.ts
  src/mocks/server/seeds/seed-users.ts
  src/mocks/server/server.ts
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: api client
  package-lock.json
  package.json
  src/app/api/api-client-context.tsx
  src/app/api/api-context.tsx
  src/app/api/api.test.ts
  src/app/api/api.ts
  src/app/api/auth-api.ts
  src/app/app.tsx
  src/app/modules/auth/use-auth.test.tsx
  src/app/modules/auth/use-auth.tsx
  src/main.tsx
  src/mocks/server/database/user-factory.ts
  src/mocks/server/handlers/user-handlers.ts
  src/mocks/server/seeds/seed-users.ts
  src/test/helpers/api.ts
  src/test/helpers/cookie.ts
  src/test/helpers/render.tsx
  src/test/mocks/api.ts
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: partial login and logout
  src/app/api/auth-api.ts
  src/app/app.tsx
  src/app/modules/auth/auth-context.test.tsx
  src/app/modules/auth/auth-context.tsx
  src/app/modules/auth/use-auth-manager.tsx
  src/app/modules/auth/use-auth.test.tsx
  src/mocks/server/handlers/user-handlers.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

test: auth idle tests
  src/app/modules/auth/auth-context.test.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add util to check for api errors
  src/app/api/is-api-error.test.ts
  src/app/api/is-api-error.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

test: clean all cookies after each tests
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add empty error handler
  src/app/modules/error/error-context.test.tsx
  src/app/modules/error/error-context.tsx
  src/app/modules/error/use-error.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add useAsync hook
  src/app/hooks/use-async.test.ts
  src/app/hooks/use-async.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: handle auth errors. manage login state
  src/app/modules/auth/auth-context.test.tsx
  src/app/modules/auth/use-auth-manager.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: allow to bypass logged in check
  src/app/contexts/config/storage-config.ts
  src/app/modules/auth/auth-context.test.tsx
  src/app/modules/auth/use-auth-manager.tsx
  src/mocks/server/database/database.ts
  src/mocks/server/dtos/user-dtos.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: integrate auth into the app
  .storybook/preview.tsx
  src/app/app-providers.test.tsx
  src/app/app-providers.tsx
  src/app/contexts/config/constants-config.ts
  src/app/contexts/config/storage-config.ts
  src/app/modules/auth/auth-context.test.tsx
  src/app/modules/auth/use-auth-manager.tsx
  src/main.tsx
  src/mocks/server/handlers/user-handlers.ts
  src/mocks/server/seeds/seed-users.ts
  src/test/helpers/render.tsx
  src/test/mocks/api.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add api contexts tests
  src/app/api/api-client-context.test.tsx
  src/app/api/api-client-context.tsx
  src/app/api/api-context.test.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: move features to features folder
  .storybook/preview.tsx
  src/app/components/theme-button/theme-button.tsx
  src/app/components/toast/toast-context.test.tsx
  src/app/components/toast/toast.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/app/contexts/config/config-context.tsx
  src/app/features/auth/auth-context.test.tsx
  src/app/features/auth/auth-context.tsx
  src/app/features/auth/use-auth-manager.tsx
  src/app/features/error/error-context.test.tsx
  src/app/features/error/error-context.tsx
  src/app/features/error/use-error.tsx
  src/app/features/i18n/i18n-context.test.tsx
  src/app/features/i18n/i18n-context.tsx
  src/app/features/i18n/i18n-format.test.ts
  src/app/features/i18n/i18n-format.ts
  src/app/features/theme/theme-context.test.tsx
  src/app/features/theme/theme-context.tsx
  src/app/hooks/use-contrast-theme.ts
  src/main.tsx
  src/mocks/i18n.ts
  src/test/helpers/render.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: add index to features
  .storybook/preview.tsx
  src/app/components/theme-button/theme-button.tsx
  src/app/components/toast/toast-context.test.tsx
  src/app/components/toast/toast.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/app/features/auth/index.ts
  src/app/features/auth/use-auth-manager.tsx
  src/app/features/error/index.ts
  src/app/features/i18n/index.tsx
  src/app/features/theme/index.ts
  src/app/hooks/use-contrast-theme.ts
  src/main.tsx
  src/test/helpers/render.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write
