Repository ruidnogueira/react-showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*": "ls-lint",
  "src/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --max-warnings=0",
  "src/**/*.{css,scss}": "stylelint --fix",
  "src/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

chore: improve global mocking
  src/app/contexts/theme/theme-context.test.tsx
  src/test/mocks/match-media.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Improve global mocking (#98)
  src/app/contexts/theme/theme-context.test.tsx
  src/test/mocks/match-media.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

fix: group vite major dependencies
  renovate.json
Due: none

Group vite major dependencies (#103)
  renovate.json
Due: none

fix: storybook theme not working in dev mode
  .storybook/preview.tsx
Due: none

Storybook theme not working in dev mode (#105)
  .storybook/preview.tsx
Due: none

feat: add text input
  src/app/components/text-input/text-input.stories.tsx
  src/app/components/text-input/text-input.test.tsx
  src/app/components/text-input/text-input.tsx
  src/styles/components/_index.scss
  src/styles/components/_input.scss
  src/styles/utils/themes/_dark.scss
  src/styles/utils/themes/_light.scss
  src/test/mocks/get-computed-style.ts
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: add label component
  .eslintrc.json
  .storybook/preview.tsx
  src/app/components/label/label.stories.tsx
  src/app/components/label/label.test.tsx
  src/app/components/label/label.tsx
  src/app/components/loading/loading-spinner.tsx
  src/styles/components/_form.scss
  src/styles/components/_index.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: add field component
  src/app/components/field/field.module.scss
  src/app/components/field/field.stories.tsx
  src/app/components/field/field.test.tsx
  src/app/components/field/field.tsx
  src/app/components/text-input/text-input.stories.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

Add text input / label / field (#106)
  .eslintrc.json
  .storybook/preview.tsx
  src/app/components/field/field.module.scss
  src/app/components/field/field.stories.tsx
  src/app/components/field/field.test.tsx
  src/app/components/field/field.tsx
  src/app/components/label/label.stories.tsx
  src/app/components/label/label.test.tsx
  src/app/components/label/label.tsx
  src/app/components/loading/loading-spinner.tsx
  src/app/components/text-input/text-input.stories.tsx
  src/app/components/text-input/text-input.test.tsx
  src/app/components/text-input/text-input.tsx
  src/styles/components/_form.scss
  src/styles/components/_index.scss
  src/styles/components/_input.scss
  src/styles/utils/themes/_dark.scss
  src/styles/utils/themes/_light.scss
  src/test/mocks/get-computed-style.ts
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: allow custom button styles
  src/app/components/button/button.stories.tsx
  src/app/components/button/button.tsx
  src/styles/components/_button.scss
  src/styles/components/_input.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: allow theme to be changed in storybook
  .storybook/preview.tsx
Due: none

feat: add icon component
  .storybook/preview.tsx
  src/app/components/button/button.tsx
  src/app/components/icon/icon.stories.tsx
  src/app/components/icon/icon.test.tsx
  src/app/components/icon/icon.tsx
  src/app/components/loading/loading-spinner.tsx
  src/styles/components/_button.scss
  vite-plugins.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: add icon button component
  src/app/components/icon-button/icon-button.stories.tsx
  src/app/components/icon-button/icon-button.test.tsx
  src/app/components/icon-button/icon-button.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add theme button
  src/app/components/theme-button/theme-button.module.scss
  src/app/components/theme-button/theme-button.stories.tsx
  src/app/components/theme-button/theme-button.test.tsx
  src/app/components/theme-button/theme-button.tsx
  src/app/contexts/theme/theme-context.test.tsx
  src/app/contexts/theme/theme-context.tsx
  src/locales/en/components.json
  src/locales/pt/components.json
  src/test/helpers/render.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

chore: update service worker
  public/mockServiceWorker.js
Due: none

chore: disabled css in tests
  vite.config.ts
Due: none

feat: provide portal container
  .storybook/preview.tsx
  src/app/contexts/portal-container/portal-container.test.tsx
  src/app/contexts/portal-container/portal-container.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add tooltip component
  package-lock.json
  package.json
  src/app/components/tooltip/tooltip.stories.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/app/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Prevent PRs of versions without stability days
  renovate.json
Due: none

Prevent PRs of versions without stability days (#129)
  renovate.json
Due: none

feat: add tooltip styles
  .eslintrc.json
  .storybook/preview.tsx
  src/app/components/tooltip/tooltip.stories.tsx
  src/app/components/tooltip/tooltip.tsx
  src/styles/components/_index.scss
  src/styles/components/_tooltip.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

test: tooltip
  src/app/components/tooltip/tooltip.test.tsx
  src/test/helpers/render.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Add tooltip (#130)
  .eslintrc.json
  .storybook/preview.tsx
  package-lock.json
  package.json
  src/app/components/tooltip/tooltip.stories.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/app/components/tooltip/tooltip.tsx
  src/app/contexts/portal-container/portal-container.test.tsx
  src/app/contexts/portal-container/portal-container.tsx
  src/styles/components/_index.scss
  src/styles/components/_tooltip.scss
  src/test/helpers/render.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

fix: disabled button inconsistent styles
  src/styles/components/_button.scss
Due: ls-lint, stylelint --fix, prettier --write

refactor: use centered layout for stories
  .storybook/preview-head.html
  src/app/components/loading/loading-spinner.stories.tsx
  src/app/components/loading/loading.stories.tsx
  src/app/components/tooltip/tooltip.stories.tsx
  src/app/components/tooltip/tooltip.tsx
  src/styles/components/_button.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: add tooltip top theme button
  src/app/components/theme-button/theme-button.tsx
  src/app/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

test: remove tests that dont make sense anymore
  src/app/components/button/button.test.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

Add theme button (#131)
  .storybook/preview-head.html
  .storybook/preview.tsx
  src/app/components/button/button.stories.tsx
  src/app/components/button/button.test.tsx
  src/app/components/button/button.tsx
  src/app/components/icon-button/icon-button.stories.tsx
  src/app/components/icon-button/icon-button.test.tsx
  src/app/components/icon-button/icon-button.tsx
  src/app/components/icon/icon.stories.tsx
  src/app/components/icon/icon.test.tsx
  src/app/components/icon/icon.tsx
  src/app/components/loading/loading-spinner.stories.tsx
  src/app/components/loading/loading-spinner.tsx
  src/app/components/loading/loading.stories.tsx
  src/app/components/theme-button/theme-button.module.scss
  src/app/components/theme-button/theme-button.stories.tsx
  src/app/components/theme-button/theme-button.test.tsx
  src/app/components/theme-button/theme-button.tsx
  src/app/components/tooltip/tooltip.stories.tsx
  src/app/components/tooltip/tooltip.tsx
  src/app/contexts/theme/theme-context.test.tsx
  src/app/contexts/theme/theme-context.tsx
  src/locales/en/components.json
  src/locales/pt/components.json
  src/styles/components/_button.scss
  src/styles/components/_input.scss
  src/test/helpers/render.tsx
  vite-plugins.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

refactor: remove secondary color from theme
  src/styles/components/_button.scss
  src/styles/utils/themes/_dark.scss
  src/styles/utils/themes/_light.scss
Due: ls-lint, stylelint --fix, prettier --write

Remove secondary color from theme (#132)
  src/styles/components/_button.scss
  src/styles/utils/themes/_dark.scss
  src/styles/utils/themes/_light.scss
Due: ls-lint, stylelint --fix, prettier --write

feat: add select component
  package-lock.json
  package.json
  src/app/components/select/select.stories.tsx
  src/app/components/select/select.tsx
  src/styles/components/_index.scss
  src/styles/components/_input.scss
  src/styles/components/_select.scss
  src/styles/components/_tooltip.scss
  src/styles/utils/_index.scss
  src/styles/utils/_variables.scss
  src/styles/utils/components/_control.scss
  src/styles/utils/components/_index.scss
  src/styles/utils/components/_input.scss
  src/styles/utils/themes/_dark.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

docs: add missing text input story
  src/app/components/text-input/text-input.stories.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

chore: rename tooltip props for consistency
  src/app/components/tooltip/tooltip.test.tsx
  src/app/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: allow create optional contexts
  src/app/utils/context.test.tsx
  src/app/utils/context.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

fix: portals not rendering
  src/app/contexts/portal-container/portal-container.test.tsx
  src/app/contexts/portal-container/portal-container.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

feat: add select scroll button styles
  src/app/components/select/select.stories.tsx
  src/app/components/select/select.tsx
  src/styles/components/_select.scss
  src/styles/utils/themes/_dark.scss
Due: ls-lint, eslint --cache --fix --max-warnings=0, stylelint --fix, prettier --write

feat: improve tooltip stories/tests
  src/app/components/tooltip/tooltip.stories.tsx
  src/app/components/tooltip/tooltip.test.tsx
  src/test/helpers/test.tsx
  src/test/mocks/dom-rect.ts
  src/test/mocks/resize-observer.ts
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: improve loading components organization
  src/app/components/button/button.stories.tsx
  src/app/components/loading/loading-overlay.stories.tsx
  src/app/components/loading/loading-overlay.test.tsx
  src/app/components/loading/loading-overlay.tsx
  src/app/components/loading/loading-spinner.stories.tsx
  src/app/components/loading/loading.stories.tsx
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write

refactor: improve location mock
  .eslintrc.json
  src/test/mocks/location.ts
  src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --max-warnings=0, prettier --write
